{% if request.user.is_authenticated %}
{% include "ecom/customer_navbar.html" %}
{% else %}
{% include "ecom/navbar.html" %}
{% endif %}
{% block content %}
{% load static %}
<style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    body{
        background-color: white;
        font-family: 'Poppins', sans-serif;
        
    }
</style>
<div class="container py-3  px-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static products.product_image.url %}" 
           class="d-block mx-lg-auto img-fluid" 
           alt="{{ products.name }}" 
           width="500" loading="lazy" 
           style="border-radius: 10px; border: 1px solid #ccc;">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-success">{{ products.name }}</h1>
      <p >{{ products.description}}</p>
      <h2 class="mb-3">₹{{ products.price }}</h2>
      <ul class="list-unstyled mb-4">
        <li><strong>Availability:</strong> {{ products.stock }} in stock</li>
        <li><strong>Free shipping</strong></li>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{% url 'add-to-cart' products.id %}" class="btn btn-success btn-lg px-4 me-md-2">Add to <i class="ri-shopping-cart-2-line"></i></a>
        <a href="{% url 'buy now' products.id %}" class="btn btn-outline-success btn-lg px-4">Buy Now <i class="ri-arrow-right-line"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
